Language:        Cpp
BasedOnStyle:    LLVM

AccessModifierOffset: -4
AlwaysBreakBeforeMultilineStrings: true
ColumnLimit: 100
DisableFormat: false
IndentWidth: 4
InsertTrailingCommas: None
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
QualifierAlignment: Left
ReflowComments: false
RemoveBracesLLVM: true
SeparateDefinitionBlocks: Leave
SortIncludes: Never
SpacesInContainerLiterals: false
