[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/zep"]
	path = lib/zep
	url = https://github.com/Rezonality/zep
[submodule "lib/mutils"]
	path = lib/mutils
	url = https://github.com/Rezonality/mutils
[submodule "lib/zep_imgui"]
	path = lib/zep_imgui
	url = https://github.com/cmaughan/zep_imgui.git
[submodule "lib/clip"]
	path = lib/clip
	url = https://github.com/dacap/clip.git
[submodule "lib/wtstar"]
	path = lib/wtstar
	url = https://github.com/pocestny/wtstar.git
